.btn {
  display: inline-block;
  padding: 19px 44px;
  color: $color-default-white;
  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;

  &:disabled {
    pointer-events: none;
    background-color: #999;
  }
}
