.gallery__container {
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;

  @include vp-1200 {
    gap: 21px;
  }

  @include vp-767 {
    gap: 15px;
    padding: 0 15px;
  }
}

.gallery__text-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include vp-1200 {
    padding: 0 45px;
    gap: 16px;
  }

  @include vp-767 {
    gap: 14px;
    padding: 0;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 3px;

  @include vp-1200 {
    padding: 0;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
  height: 100%;

  &--primary-full {
    max-width: 275px;
  }

  &--double-first {
    min-width: 298px;
  }

  &--secondary-full {
    max-width: 272px;
  }

  &--double-second {
    min-width: 298px;
  }

  &--third-full {
    max-width: 276px;
  }

  @include vp-1200 {

    &--double-first,
    &--double-second {
      min-width: auto;
      min-height: 450px;
    }
  }

  @include vp-767 {
    min-height: auto;
  }
}

.gallery__text-content h2 {
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 1px;
  position: relative;

  &::before {
    content: attr(data-title);
    display: block;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    position: absolute;
    bottom: -2px;
    z-index: -1;
    opacity: 0.03;
  }

  @include vp-1200 {
    font-size: 25px;
    line-height: 25px;
    padding-top: 18px;

    &::before {
      font-size: 40px;
      line-height: 40px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    padding-top: 7px;

    &::before {
      bottom: 2px;
      font-size: 26px;
      line-height: 26px;
    }
  }
}

.gallery__group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1200 {
    align-items: flex-end;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}

.gallery__text-content p {
  max-width: 693px;
  margin: 0;

  @include vp-1200 {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
    max-width: 290px;
  }
}

.gallery__wrapper-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__wrapper-button {
  max-width: 72px;
  gap: 3px;

  @include vp-767 {
    max-width: 78px;
    margin-left: auto;
  }
}

.gallery__wrapper-button button {
  min-width: 34px;

  @include vp-767 {
    min-width: 37px;
  }
}
