.hero-pagination.swiper-pagination {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  bottom: 97px;
  max-width: 1240px;
  padding: 0 16px;
  left: 50%;
  transform: translate(-50%);

  @include vp-1200 {
    padding: 40px 0;
    bottom: 0;
    justify-content: center;
    max-width: 78px;
  }

  @include vp-767 {
    padding: 0;
    bottom: 40px;
  }
}

.hero-pagination .swiper-pagination-bullet {
  border: 1px solid $color-default-white;
  background-color: $color-transparent;
  width: 10px;
  height: 10px;
  opacity: 1;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 35px;
    background-color: $color-transparent;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

.hero-pagination .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}
