.hero-video {
  position: absolute;
  top: 329px;
  right: 20px;
  max-width: 482px;
  max-height: 317px;
  background-color: $color-default-black;
}

.hero-video iframe {
  border: none;
}

.hero-video__container {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 482px;
  min-height: 317px;
  transition: opacity 350ms ease-in;

  &--del {
    display: none;
  }

  &--hidden {
    opacity: 0;
  }
}

.hero-video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  display: block;

  &::after {
    content: '';
    border: 1px solid #fff;
    width: 56px;
    height: 56px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.hero-video__button svg {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
