.hero-cards {
  position: absolute;
  right: 20px;
  top: 187px;
  width: 410px;
  height: 459px;

  @include vp-1200 {
    position: relative;
    top: 0;
    right: -50%;
    transform: translate(-50%);
    width: 442px;
    height: 365px;
    margin-bottom: 122px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-cards__wrapper-image {
  position: absolute;
  top: 93px;
  right: 0;
}
