.slider-button {
  max-width: 78px;
  display: flex;
  gap: 4px;
}

.slider-button__button {
  min-width: 37px;
  max-height: 35px;
  background-color: $color-navy-blue;
  padding: 16px 11px;
  border: 1px solid $color-navy-blue;
  color: $color-default-white;
  position: relative;
  margin: 0;

  &--prev {
    transform: rotate(180deg);
    left: 0;
  }

  &--next {
    right: 0;
  }

  &::after {
    display: none;
  }

  @include hover-focus {
    color: #1C3374;
    outline: none;
    background-color: $color-default-white;
    border-color: #1C3374;
  }

  @include active {
    color: $color-default-white;
    border-color: #1C3374;
    background-color: #1C3374;
  }

  &:disabled,
  &--disabled {
    border-color: #999999;
    background-color: #999999;
    pointer-events: none;
  }
}

.slider-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
