.tours-stars {
  height: 16px;
  background-image: url(../images/star.svg);
  background-repeat: space;
}

.tours-stars--1 {
  width: 16px;
}

.tours-stars--2 {
  width: 39px;
  margin-left: 1px;
}

.tours-stars--3 {
  width: 61px;
  margin-left: 1px;
}

.tours-stars--4 {
  width: 83px;
  margin-left: 1px;
}

.tours-stars--5 {
  width: 106px;
  margin-left: 1px;
}
