.tours-card {
  padding: 30px 20px;
  min-height: 416px;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.tours-card h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-bottom: 16px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: $color-default-white;
    position: absolute;
    opacity: 0.2;
  }
}

.tours-card__wrapper {
  display: flex;
  justify-content: space-between;
  order: -1;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;

  &--info {
    order: -1;
  }

  &--details {
    font-weight: 300;
    order: 0;
  }
}

.tours-card__wrapper-place {
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  padding: 6px 12px;
  background-color: $color-navy-blue;
  align-items: center;
}

.tours-card__group {
  display: flex;
  gap: 14px;
}

.tours-card__wrapper-days-night {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  align-items: center;
}

.tours-card__group-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}

.tours-card__group-details b {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
}

.tours-card__wrapper-stars {
  max-height: 16px;
}
