.tours__container {
  padding: 120px 20px 100px;
  display: flex;
  flex-direction: column;
  gap: 53px;
  position: relative;
}

.tours__container h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;
  color: #2D383F;
  position: relative;

  &::before {
    content: attr(data-title);
    display: block;
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    color: #2D383F;
    position: absolute;
    top: -16px;
    z-index: -1;
    opacity: 0.03;
  }
}

.tours__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 1200px;
}

.tours__item {
  position: relative;
}

.tours__wrapper-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tours__button {
  width: 37px;
  height: 35px;
  background-color: #0266C1;
  padding: 17px 12px;
  top: 142px;
  left: auto;
  color: $color-default-white;

  &--prev {
    right: 61px;
    transform: rotate(180deg);
  }

  &--next {
    background-color: #999;
    right: 20px;
  }

  &::after {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    left: 12px;
    width: 13px;
    height: 1px;
    background-color: $color-default-white;
  }
}

.tours__button svg {
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
}

.tours__link {
  display: flex;
  gap: 12px;
  padding: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2D383F;
  margin: 0 auto;
  align-items: center;
}
